<!DOCTYPE html>
<html>
<head>
    <title>My Notes App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="logo">MyNotes 🔥  By Shivakar</div>
    <div>
        {% if session.get('user') %}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</div>

<!-- Hero Section -->
<div class="hero">
    <h1>Organize Your Thoughts 📝</h1>
    <p>Secure • Simple • Fast</p>
    {% if not session.get('user') %}
        <a class="btn" href="/register">Get Started</a>
    {% endif %}
</div>

<!-- Features Section -->
<div class="features">
    <div class="card">
        <h3>🔐 Secure Login</h3>
        <p>Password hashing & session security.</p>
    </div>

    <div class="card">
        <h3>📝 Personal Notes</h3>
        <p>Only you can see your notes.</p>
    </div>

    <div class="card">
        <h3>⚡ Fast & Simple</h3>
        <p>Minimal design, smooth experience.</p>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <p>© 2026 MyNotes App | Built with Flask 🔥</p>
</div>

</body>
</html>
